body {
  margin: 0;
  padding: 0;
}
body > div > div:nth-child(1) {
  background-color: #86a3b8;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(2) {
  background-color: #e8d2a6;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(3) {
  background-color: #f48484;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(4) {
  background-color: #f55050;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(5) {
  background-color: #ff8b13;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(6) {
  background-color: #0081b4;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(7) {
  background-color: #f273e6;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(8) {
  background-color: #f9b5d0;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
body > div > div:nth-child(9) {
  background-color: #ff597b;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
